<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489815507808-irsq0krs5ut93gc74c5slne81dbk04b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489815507808-irsq0krs5ut93gc74c5slne81dbk04b7</string>
	<key>API_KEY</key>
	<string>AIzaSyAA0HjF96b9lIh0AwMsf_oCny6koEwkB8A</string>
	<key>GCM_SENDER_ID</key>
	<string>489815507808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ocrcustomer</string>
	<key>PROJECT_ID</key>
	<string>ocr-consumer</string>
	<key>STORAGE_BUCKET</key>
	<string>ocr-consumer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489815507808:ios:808ae5250096f76c61d405</string>
</dict>
</plist>